<!-- Model Driven Form -->
<form [ngFormModel]="form" (ngSubmit)="changePasswordSubmit()">
<div class="form-group">
    <label for="currentPassword">Current Password</label>
    <input
        ngControl="currentPassword" #currentPassword="ngForm"
        id="currentPassword" 
        type="password"
        class="form-control">
        <!-- Showing a Loading image -->
        <div *ngIf="currentPassword.control.pending">Checking for uniqueness...</div>
        <div *ngIf="currentPassword.touched && currentPassword.errors" >
            <div 
              *ngIf="currentPassword.errors.invalidPassword"
                class="alert alert-danger">Current Password is Invalid!
            </div>            
            <div 
              *ngIf="currentPassword.errors.required"
                class="alert alert-danger">Old Password is required
            </div>
            <div 
                *ngIf="currentPassword.errors.cannotContainSpace"
                class="alert alert-danger">Old Password cannot contain space
            </div>          
        </div>

</div>
<div class="form-group">
    <label for="newPassword">New Password</label>
    <input
        ngControl="newPassword" #newPassword="ngForm" minlength="5"
        id="newPassword" 
        type="password"
        class="form-control">
        
        <div 
            *ngIf="newPassword.touched && newPassword.errors && newPassword.errors.required"
            class="alert alert-danger">New Password is required
        </div>
        <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.errors && newPassword.errors.minlength">
            First name should be minimum 
            {{ newPassword.errors.minlength.requiredLength }} characters
        </div>        
        <div 
            *ngIf="newPassword.touched && newPassword.errors && newPassword.errors.shouldBeUnique"
            class="alert alert-danger">This New Password is already taken
        </div>                  
</div>

<div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input
        ngControl="confirmPassword" #confirmPassword="ngForm"
        id="confirmPassword" 
        type="password"
        class="form-control">
        <div *ngIf="confirmPassword.touched" >          
            <div 
              *ngIf="confirmPassword.errors  && confirmPassword.errors.required"
                class="alert alert-danger">Confirm the password
            </div>
            <div 
                *ngIf="(form.value.confirmPassword != undefined) 
                    && (form.value.newPassword != form.value.confirmPassword)
                    && !(confirmPassword.errors  && confirmPassword.errors.required)"
                class="alert alert-danger">Pasword Must Match
            </div>          
        </div>                 
</div>

<button [disabled]="!form.valid" class="btn btn-primary" type="submit">Change Password</button>
</form>